.initial {
  margin-top: 400px;
  opacity: 0;
}

.final {
  animation: push-up 0.65s linear;
}

@keyframes push-up {
  0% {
    margin-top: 400px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
