.initial {
  margin-top: 400px;
  color: black;
}

.final {
  animation: color-up 2.5s linear;
  animation: push-up 0.65s linear;
}

@keyframes push-up {
  0% {
    margin-top: 400px;
    color: black;
  }
  100% {
    margin-top: 0px;
    color: white;
  }
}

@keyframes color-up {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}
